body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table tr th:not(:nth-child(3)) span{
  cursor: pointer;
}

table tr th:not(:nth-child(3)) span{
  background-repeat: no-repeat;
  background-position: 100%;
  padding-right: 20px;
}

table tr th:not(:nth-child(3)) span:hover{
  color: #007bff;
}

table tr img {
  width: 25%;
  cursor: pointer;
}

.admin-edited{
  font-size: 11px;
}